<div class="results-table table-responsive">
  <table class="table">
    <thead class="results-table__header">
      <tr>
        <th class="results-table__header-cell" sorter="name" ng-model="vm.order">Name</th>
        <th class="results-table__header-cell" sorter="population" ng-model="vm.order">Population</th>
        <th class="results-table__header-cell" sorter="diameter" ng-model="vm.order">Diameter</th>
        <th class="results-table__header-cell" sorter="rotation_period" ng-model="vm.order">Rotation Period</th>
        <th class="results-table__header-cell" sorter="orbital_period" ng-model="vm.order">Orbital Period</th>
        <th class="results-table__header-cell">Terrain</th>
        <th class="results-table__header-cell">Films</th>
      </tr>
    </thead>
    <tbody class="results-table__body">
      <tr ng-repeat="planet in vm.planets | orderBy: vm.order">
        <td>{{planet.name}}</td>
        <td>{{planet.population | numberDisplay}}</td>
        <td>{{planet.diameter | numberDisplay}}</td>
        <td>{{planet.rotation_period | numberDisplay}}</td>
        <td>{{planet.orbital_period | numberDisplay}}</td>
        <td>
          <ul class="results-table__list">
            <li class="results-table__list-item" ng-repeat="type in planet.terrain">{{type}}</li>
          </ul>
        </td>
        <td>
          <ul class="results-table__list">
            <li class="results-table__list-item" ng-repeat="film in planet.films">{{film.title}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
    <tfoot class="results-table__footer">
      <tr>
        <td colspan="7"></td>
      </tr>
    </tfoot>
  </table>
</div>
<nav pagination="vm.pagination" aria-label="Results pagination">
</nav>
