.results-table {
  border-radius: $border-radius-base;
  border: none 0;
  margin-top: $padding-base-vertical;
}

.results-table__header {
  background: $table-head-bg;
  color: $text-light;
  text-transform: uppercase;
}

.results-table__header-cell {
  font-weight: normal;
  position: relative;
}

.results-table__header-cell--sortable {
  cursor: pointer;
}

.results-table__header-cell--sortable::after {
  font-family: 'Glyphicons Halflings';
  content: "\e150"; // sort icon
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 2px 0;
}

.results-table__header-cell--sortable:hover::after,
.results-table__header-cell--sort-desc::after,
.results-table__header-cell--sort-asc::after {
  color: $text-light2;
  background: $accent-color;
  box-shadow: -2px -2px 2px $accent-color;
}

.results-table__header-cell--sort-desc::after {
  content: "\e156"; // sort descending icon
}

.results-table__header-cell--sort-asc::after {
  content: "\e155"; // sort ascending icon
}

.results-table__body {
  background: $table-bg;
}

.results-table__footer {
  background: $nav-bg;
  min-height: $padding-base-vertical;
}

.results-table__list {
  list-style: none;
  padding: 0;
}

// Overrides for bootstrap
.results-table .table {
  margin-bottom: 0;
}
