$icon-font-path: "fonts/bootstrap/";
@import 'bootstrap-sass/assets/stylesheets/bootstrap';

$primary-color: #071218;
$accent-color: #00BDD0;
$bg-light: #E3EAF4;
$bg-lighter: #F3F7FA;

$header-bg: $primary-color;
$table-head-bg: $accent-color;
$table-bg: $bg-lighter;
$nav-bg: $bg-light;

$border-radius-base: 8px;

$text-light: transparentize(white, 0.06);
$text-light1: transparentize($text-light, 0.1);
$text-light2: transparentize($text-light1, 0.1);

$text-dark: $primary-color;
$text-dark1: transparentize($text-dark, 0.06);
$text-dark2: transparentize($text-dark1, 0.06);

// bootstrap overrides
$border-radius-base:  8px;
$border-radius-large: 12px;
$border-radius-small: 6px;

// import components sass files
@import 'components/results-table/results-table';
@import 'components/pagination/pagination';
@import 'components/results-search/results-search';

.header {
  @include make-row();
  background: $header-bg;
  text-align: center;
  color: $text-light;
  padding: $padding-large-vertical $padding-base-horizontal;
}

.search {
  @include make-row()
  background: $nav-bg;
  padding: $padding-base-vertical $padding-base-horizontal;
}
