<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>SW Planets</title>
    <link rel="stylesheet" href="app.css">
  </head>
  <body ng-app="sw-planets" class="container-fluid">
    <header class="header">
      <h1 class="col-sm-12">SW Planets</h1>
      <p class="col-sm-12">Listing planets until the sun goes nova</p>
    </header>
    <nav class="search">
      <input type="text" placeholder="Search">
    </nav>
    <section ng-controller="PlanetsController as vm">
      <div class="results-table table-responsive">
        <table class="table">
          <thead class="results-table__header">
            <tr>
              <th class="results-table__header-cell">Name</th>
              <th class="results-table__header-cell">Population</th>
              <th class="results-table__header-cell">Diameter</th>
              <th class="results-table__header-cell">Rotation Period</th>
              <th class="results-table__header-cell">Orbital Period</th>
              <th class="results-table__header-cell">Terrain</th>
              <th class="results-table__header-cell">Films</th>
            </tr>
          </thead>
          <tbody class="results-table__body">
            <tr ng-repeat="planet in vm.planets">
              <td>{{planet.name}}</td>
              <td>{{planet.population}}</td>
              <td>{{planet.diameter}}</td>
              <td>{{planet.rotation_period}}</td>
              <td>{{planet.orbital_period}}</td>
              <td>
                <ul class="results-table__list">
                  <!-- <li class="results-table__list-item" ng-repeat="type in planet.terrain">{{type}}</li> -->
                  <li class="results-table__list-item">{{planet.terrain}}</li>
                </ul>
              </td>
              <td>
                <ul class="results-table__list">
                  <li class="results-table__list-item" ng-repeat="film in planet.films">{{film}}</li>
                </ul>
              </td>
            </tr>
          </tbody>
          <tfoot class="results-table__footer">
            <tr>
              <td colspan="7"></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <nav aria-label="Results pagination">
        <ul class="pagination">
          <li class="disabled"><a href="#" aria-label="First"><span>First</span></a></li>
          <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
          <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
          <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&laquo;</span></a></li>
          <li class="disabled"><a href="#" aria-label="Last"><span>Last</span></a></li>
        </ul>
      </nav>
    </section>

    <script src="app.js"></script>
  </body>
</html>
